// Variables
$fuente-tipica: san-serif, helvetica, Arial;
$color-fondo: #edf2f6;
$color-letra: lightblue;
$color-secundario: rgb(5, 64, 83);

body {
    // Utilizar las variables
    background-color: $color-fondo;
}

h1 {
    // Utilizar las variables
    font-family: $fuente-tipica;
    color: $color-letra;
}

p {
    color: $color-secundario;
    // De esta manera no me tengo que acordar de los códigos de mis colores
}

// ANIDACIÓN 
.caja {
    // podemos también darle estilos a caja
    border: 1px dotted grey;
    width: 20rem;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;

    // anidar elementos
    h1 {
        color: lightgreen;
    }

    // en css normal sería: .caja p {}
    p {
        color: green;
    }

    .info {
        font-size: 3rem;
        // Y podemos seguir anidando :D
        .author {
            font-size: 1rem;
            color: orange;
        }
    }
    // Note: ten en cuenta que .caja h1 tiene mayor Especificidad que solo h1
}

// MIXINS / FUNCIONES ( series de instrucciones )
// @mixin crearBordes {
//     border: 5px solid red;
//     border-radius: 10px;
//     box-shadow: 0px 0px 5px black;
// }
@mixin crearBordes( $color, $size, $shadow ) { // puedo parametrizar esta función
    border: 5px solid $color;
    border-radius: $size;
    box-shadow: 0px 0px $size $shadow;
}

// Como utilizar los mixins:
.caja {
    @include crearBordes(red, 1rem, black); // la puedo reutilizar tantas veces como quiera
}

.listado {
    margin-top: 10px;
    @include crearBordes(green, 2rem, yellow);
}

/*
    Note: en resumen los mixins pueden almacenar 
    una serie de propiedades CSS, y además recibir
    parámetros. 
*/

// HERENCIA
%alert-normal {
    border: 1px solid gray;
    background-color: white;
    color: gray;
    padding: 10px;
    width: 80%;
    margin: 20px auto;
}

// Utilización
.alert {
    @extend %alert-normal; // heredar propiedades básicas
}

.alert-danger {
    @extend %alert-normal;
    background-color: lightcoral;
    color: white;
}
