// Compilar Sass, donde se encuentra nuestro archivo .scss: sass --watch style.scss style.css
// Variables
$color-default: #b7d042;
$pastel-orange: #ffb347;
$pastel-red: #ff6961;
$pastel-green: #77dd77;
$pastel-blue: #5d9b9b;
$pastel-pink: #dea5a4;


body {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.red {
    background-color: $pastel-red !important;
}
.green {
    background-color: $pastel-green !important;
}
.blue {
    background-color: $pastel-blue !important;
}
.pink {
    background-color: $pastel-pink !important;
}
.orange {
    background-color: $pastel-orange !important;
}
.gray {
    background-color: gray !important;
}

.layout {
    border: 2px solid $pastel-orange;
    padding: .65rem; // Separar los elementos de los borders
    height: 30rem; // definimos una altura para quitar la altura automática
    
    /* Definir el Grid Layout */
    display: grid;

    /* Tamaño de las lineas de la cuadricula */
    gap: 0.65rem;

    /* Define las columnas y filas de la cuadrícula.
    Los valores representan el tamaño del track y,
    el espacio entre ellos representa la línea de la cuadrícula. */
    /* grid-template-columns: tamaño-colum-1 tamaño-colum-2 ...; */

    /* fracción del espacio libre en la cuadrícula (usando la unidad fr) */
    /* repeat(4, 1fr) : quiero 4 columnas de una fracción */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 3fr 2fr;


    .caja {
        font-size: 1.6rem;
        font-weight: 700; // bold
        color: white;
        padding: 1.25rem; // 20px
        border: 4px solid #222;
        background-color: $color-default; // color de fondo por defecto
    }
}
