// Compilar Sass, donde se encuentra nuestro archivo .scss: sass --watch style.scss style.css

/*-------------EJERCICIO COMPLETO--------------*/

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0px;
}

.website {
    width: 75%;
    /* hv altura del navegador */
    height: calc(100vh - 2px); // -2px del borde
    margin: 0px auto;
    border: 1px solid #cccccc;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 12% 10% 68% 10%;


    * {
        margin: 0px;
        padding: 0px;
    }

    .header {
        background-color: lightseagreen;
        color: white;

        grid-column: span 5;
    }

    .menu {
        background-color: lightblue;
        color: black;

        grid-column: span 5;

        ul {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            list-style: none;

            a {
                text-decoration: none;
            }
        }
    }

    .content {
        background-color: #eeeeee;

        grid-column: span 4;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        padding: 1.5rem;

        article {
            background-color: #cccccc;
            border: 1px solid #555555;
        }
    }

    .sidebar {
        background-color: orange;
        color: white;

        grid-column: 5 / 6;
    }

    .footer {
        background-color: black;
        color: white;

        grid-column: span 5;
    }
}