/*
Compilar Sass. 
Donde se encuentra nuestro archivo .scss, utilizando el siguiente comando: 
sass --watch style.scss style.css
*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

.layout {
    /* Definir Flexbox layout */
    display: flex; // el tamaño de adapta al contenido, width auto

    /* Direcciones */
    /* Podemos definir columnas o filas */
    /* Valores: 
        row (default)
        row-reverse 
        column 
        column-reverse */
    // flex-direction: row; // output: 4 3 2 1
    /* Note: si display es flex, row-reverse alinea el contenido a la derecha */

    /* Envoltorio */
    // flex-wrap: wrap; // No se salga del contenedor y reubicar abajo
    /* shorthand: une direction con wrap*/
    flex-flow: row wrap;



    border: 1px solid gray;
    padding: 5px;

    .box {
        font-size: 1.6rem;
        color: white;
        padding: 20px;
        border: 4px solid #222222;
        margin: 10px;
        background-color: #76c5d6;

        /* FLEX GROW */
        /* espacio que ocupara el elemento proporcionalmente */
        flex-grow: 1; // 1 para que cada caja ocupe el mismo espacio
    }

    .first-box {
        flex-grow: 1;
        background-color: lightcoral;
    }
    .second-box {
        flex-grow: 1;
        background-color: lightgreen;
    }
    .third-box {
        flex-grow: 4;
        /* SHRINK */
        /* define la capacidad de un elemento flexible de encogerse si es necesario. */
        flex-shrink: 5; /* default 1 */
        background-color: lightskyblue;
    }
    .fourth-box {
        flex-grow: 1;
        background-color: orange;
    }
}

