/*
Compilar Sass. 
Donde se encuentra nuestro archivo .scss, utilizando el siguiente comando: 
sass --watch style.scss style.css
*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

.layout {
    /* Definir Flexbox layout */
    display: flex; // width 100% del contenedor


    border: 1px solid gray;
    padding: 5px;

    .box {
        font-size: 1.6rem;
        color: white;
        padding: 20px;
        border: 4px solid #222222;
        margin: 10px;
        background-color: #76c5d6;
    }

    .first-box {
        background-color: lightcoral;
    }
    .second-box {
        background-color: lightgreen;
    }
    .third-box {
        background-color: lightskyblue;
    }
    .fourth-box {
        background-color: orange;
    }
}

