/*
Compilar Sass. 
Donde se encuentra nuestro archivo .scss, utilizando el siguiente comando: 
sass --watch style.scss style.css
*/

// Variables
:root {
    --rojo: lightcoral;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

.layout {
    /* Definir Flexbox layout */
    display: flex; // el tamaño de adapta al contenido, width auto

    /* Direcciones */
    /* Podemos definir columnas o filas */
    /* Valores: 
        row (default)
        row-reverse 
        column 
        column-reverse */
    // flex-direction: row; // output: 4 3 2 1
    /* Note: si display es flex, row-reverse alinea el contenido a la derecha */

    /* Envoltorio */
    // flex-wrap: wrap; // No se salga del contenedor y reubicar abajo
    /* shorthand: une direction con wrap*/
    flex-flow: row wrap;

    /* Alineación Horizontal */
    /* con center podemos sustituir el margin 0 auto */
    /* funciona tanto para texto como para elementos */
    justify-content: center;

    /* Alineación Vertical */
    height: 72vh;
    align-items: flex-start;

    flex-grow: 1;



    border: 1px solid gray;
    padding: 5px;

    .box {
        font-size: 1.6rem;
        color: white;
        padding: 20px;
        border: 4px solid #222222;
        margin: 10px;
        background-color: #76c5d6;
    }

    .first-box {
        align-self: flex-start;
        background-color: var(--rojo);
    }
    .second-box {
        align-self: center;
        background-color: lightgreen;
    }
    .third-box {
        align-self: center;
        background-color: lightskyblue;
    }
    .fourth-box {
        align-self: flex-end;
        background-color: orange;
    }
}

